!!! 5
html
  head
    title #{$site->title()} - #{$page->title()}
    meta(charset="UTF-8")
    meta(name="description", content=html($site->description()))
    meta(name="keywords", content=html($site->keywords()))
    meta(name="robots", content="index, follow")
    link(rel="stylesheet", href=url("assets/styles/styles.css"))
    script.
      if (window.devicePixelRatio > 1)
        document.cookie = 'HTTP_USE_RETINA=1;path=/';
  body
    header
      h1
        a(href=url())
          img(src=url("assets/images/logo.png"), width="115", height="41", alt=$site->title())
    include _menu
    include _submenu
    section.content
      block content
    footer!= kirbytext($site->copyright())
